html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}
a {
  text-decoration: none;
  color: inherit;
}
button,
input,
textarea,
select {
  border: none;
  padding: 0;
  background: none;
  color: inherit;
  font: inherit;
}
button:not(:disabled) {
  cursor: pointer;
}

.editor {
  height: 100%;
  display: flex;
}

.output {
  width: 400px;
  flex: none;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.02);
}
.menubar {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 15px;
  gap: 15px;
}
.preview {
  aspect-ratio: 16 / 9;
  /* TEMP */
  background-image: linear-gradient(-50deg, #f97316, #ec4899);
}

.script {
  flex: auto;
  display: flex;
  flex-direction: column;

  & h2 {
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #cbd5e1;
  }
}
.text {
  flex: none;
  display: flex;

  & textarea {
    flex: auto;
    resize: none;
    padding: 20px;
    overflow: hidden;

    &::placeholder {
      opacity: 0.5;
      color: inherit;
      font-style: italic;
    }

    &:focus {
      /* TODO: show focus? */
      outline: none;
    }
  }

  & .remove-btn {
    align-self: center;
    margin: 0 20px;
  }
}
.annotation {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 15px;
  margin: 0 20px;
  background-color: #f1f5f9;
  border: 1px solid #cbd5e1;
  border-top-width: 0;
  &.first {
    border-top-width: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &.last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.add-row {
  flex: none;
  display: flex;
  padding: 0 10px;
  gap: 10px;
  height: 24px;
  margin: -12px 20px;
  position: relative;
  z-index: 1;
  align-self: flex-start;
}
.add-btn {
  background-color: #f1f5f9;
  border: 1px solid #cbd5e1;
  border-radius: 50px;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  opacity: 0;
  transition: opacity 0.2s;
  &:hover {
    background-color: white;
  }
}
.add-row:hover .add-btn,
.add-btn:focus-within {
  opacity: 1;
}
.add-icon {
  height: 1em;
}
.end {
  border-bottom: 1px solid #cbd5e1;
}
.remove-btn {
  display: flex;
  margin-left: auto;
  color: #cbd5e1;

  &:focus-visible {
    color: #64748b;
  }
  &:hover {
    color: #f43f5e;
  }
}
